<html>

<head>
	<link rel="stylesheet" href="../stylesheets/stylesheet.css" type="text/css" />
</head>
<header>
	<title>{% block title %}Ben Hirsch{% endblock title %}</title>

	<style type="text/css">
	{% block style %}
	{% endblock style %}
	</style>
</header>

<body>
	<!-- topbar -->
	<div class="nav-wrapper">
		<div class="nav">
			<ul class="nav">
				<!-- <li class="logo"><a class="logo" href="/"><img src="stylesheets/site_logo4.png" border="0"/></a></li> -->
				<li class="nav"><a class="nav" href="/">Home</a></li>|
				<li class="nav"><a class="nav" href="/news">News</a></li>|
				<li class="nav"><a class="nav" href="/schedule">Schedule</a></li>|
				<li class="nav"><a class="nav" href="/bios">Bios</a></li>|
				<li class="nav"><a class="nav" href="/contact">Contact</a></li>|
				{% if user %}
				<li class="nav"><a class="nav" href="/account">My Account</a></li>|
				{% endif %}
				{% if user %}
				<li class="nav"><a class="nav" href="/logout">Logout</a></li>
				{% else %}
				<li class="nav"><a class="nav" href="/login">Login</a></li>
				{% endif %}
			</ul>
		</div>
	</div>

	<div class="content-border">
		<center>
			<div class="content">
			{% block content %}
				Hello, world!
			{% endblock content %}
			</div>
		</center>
	</div>
	<div class="footer-wrapper">
		ohai
	</div>

</body>

</html>