{% extends "base.html" %}

{% block content %}

<table class="contact">
	<tr class="contact">
		<td class="contact-left">
			<img class="favicon" src="http://facebook.com/favicon.ico">
		</td>
		<td class="contact-right">
			<a href="https://www.facebook.com/lttimprov">LTT on Facebook</a>
		</td>
	</tr>
	<tr class="contact">
		<td class="contact-left">
			<img class="favicon" src="https://mail.google.com/favicon.ico">
		</td>
		<td class="contact-right">
			<a href="mailto:ltt@dramatech.org">Email the troupe's leader</a>
		</td>
	</tr>
	<tr>
		<td>
		</td>
		<td>
		<a href="http://dramatech.org">Dramatech</a>
</table><br>
<br>
<u>Moderators</u><br>
{% for key in users %}

{% if users[key].is_a_moderator %}

{{users[key].first_name}} {{users[key].last_name}}<br>

{% endif %}

{% endfor %}

{% endblock content %}